.gradle/
bin/
build/
src/main/webapp/WEB-INF/lib/*.jar
#Common
src/main/webapp/hr/common/classes/*
!src/main/webapp/hr/common/classes/.gitkeep
#SQL Data Layer
src/main/webapp/hr/dbdl/.gradle
src/main/webapp/hr/dbdl/bin/
src/main/webapp/hr/dbdl/build/
src/main/webapp/hr/dbdl/testcases/*.class
src/main/webapp/hr/dbdl/database-creation.txt
#Business Layer
src/main/webapp/hr/bl/.gradle
src/main/webapp/hr/bl/bin/
src/main/webapp/hr/bl/build/
src/main/webapp/hr/bl/testcases/*.class
#servlets
src/main/webapp/hr/servlets/.gradle
src/main/webapp/hr/servlets/bin/
src/main/webapp/hr/servlets/build/



