#Common
hr/common/classes/*
!hr/common/classes/.gitkeep
#SQL Data Layer
hr/dbdl/.gradle
hr/dbdl/bin/
hr/dbdl/build/
hr/dbdl/testcases/*.class
#Business Layer
hr/bl/.gradle
hr/bl/bin/
hr/bl/build/
hr/bl/testcases/*.class
#servlets
hr/servlets/.gradle
hr/servlets/bin/
hr/servlets/build/



