name: Deploy WAR to Elastic Beanstalk

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '23'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build WAR
        run: ./gradlew clean build

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: JavaProjects-webapp
          environment_name: JavaProjects-webapp-env-v2
          region: ${{ secrets.AWS_REGION }}
          version_label: war-${{ github.sha }}
          deployment_package: build/libs/JavaProjects-webapp.war
